body {
    font: 14px "Roboto Condensed", sans-serif;
    line-height: 1.8;
    
}
#page{
    display:flex;
    flex-direction:column;

}

#first, #second,#third,#fourth{
    display:flex;
}

/*first section selectors*/
#first{

    background-color: #121424;
    color:#ffffff;
    flex-basis: 70px;
    
}


/*second section selectors*/
#second{
    background-color: #ffffff;
    color:black;
    justify-content: space-between;
    padding-left: 14px;
    padding-right:20px;

}
.nav{
    padding:10px 0 10px 0;
    cursor:pointer;

}
.nav:hover{
    color:#00aeef;
    border-bottom: solid 2px #00aeef;
    padding-bottom: 8px;
}

#second >div:last-child{
    border-left:solid 1px #7f7f7f;
   padding:10px 0 10px 10px;
   color:#00aeef;
   
}

#second>div:last-child>i{
    padding-right:5px;
}

/*third section selectors*/
#third{
    background-color: #d9e5f4;
    color:#555555;
    justify-content: space-between;
    padding-left: 14px;
    font-size: 12px;
    
}
#third-right{
    display:flex;
    justify-content: flex-end;
    margin-right:10px;
}

#third-left{
    display:flex;
    justify-content: flex-start;
}
#third-left :nth-child(2){
    color:#3a91cb;
    padding-left:10px;
}
#third>div{
    padding:8px 0 8px 0;
}
#third-right>div{
    padding-right:20px;
}
#third i {
    cursor:pointer;
}

/*fourth section selectors*/
#fourth{
    background-color: #0152c1;
    color:#ffffff;
    flex-basis:200px;
    background: linear-gradient(to right, #0057c9, #072875);
    
}
/*fifth section selectors*/

#fifth{
    background-color: #f5f5f5;
    color:#323648;
    
}
#fifth-nav{
    display:flex;
    padding:7px 0 7px 0;
    font-size:12px;
}
.fifth-separator{
    padding:0 3px 0 3px;
}
#fifth-nav>div:not(.fifth-separator):hover {
    color:#00aeef;
    cursor: pointer
}

#fifth-central{
    display:flex;
}
#central-wrapper{
    flex-basis:75%;
   
    display:flex;
    flex-direction:column;
    margin:5px;

}
#central-wrapper>div{
     background-color: #ffffff;
    margin-bottom:10px;
}
#central-wrapper>div{
    
    display:flex;
    flex-direction: column;
    border-radius: 7px;
    border-color: #f1f1f2;
}


#bonus-cards{
   
    display:flex;
    justify-content: space-between;

}
.bonus-card{
    flex-basis: 25%;
    display:flex;
    flex-direction:column;
    color:#00aeef;
    border-right:solid 1px #e4dcec;
    border-top:solid 1px #e4dcec;
    align-items:center;
    border-collapse: collapse;
}
.bonus-card:last-child{
    border-right: none;
}
#bonuses-title{
    display:flex;
    justify-content: space-between;
    color:#323648;
    font-size: 20px;
    margin: 12px 14px 12px 14px;
}
#bonuses-title>div:last-child{
    font-size: 14px;
    padding-top: 6px;
}
.bonus-card >div:nth-child(1){
    font-size:9px;
    align-self: flex-end;
    padding:14px 14px 14px 0;
}
.bonus-card >div:nth-child(1):hover{
   cursor:pointer;
}

.bonus-card >div:nth-child(2){
    font-size:14px;
    color:#898989;
    padding:14px;
}
.bonus-card >div:nth-child(3){
    font-size:18px;
    color:black;
}
.bonus-card >div:nth-child(4){
    font-size:32px;
    color:black;
    padding-bottom: 10px;
}
.bonus-card >div:nth-child(5){
    font-size:16px;
}
.bonus-card >div:nth-child(6){
    font-size:16px;
}
.bonus-card >div:nth-child(7){
    font-size:14px;
    margin:14px;
    color:white;
    background-color: #00aeef;
    padding:12px 0 12px 0;
    align-self: stretch;
    border-radius: 3px;
    text-align: center;
}
.bonus-card >div:nth-child(7):hover{
    color:#0083b6;
    cursor:pointer;
    box-shadow: 3px 3px 5px #c1c7cd;
}

#gallery{
    flex-basis: 300px;
}
#casino-review{
    flex-basis: 300px;
}
#review-casino{
    flex-basis: 300px;
}
#list-of-slots{
    flex-basis: 300px;
}
#related-news{
    flex-basis: 300px;
}

#casino-details{
    margin:5px;
    background-color: #ffffff;
    align-self: flex-start;
   
    display:flex;
    flex-direction: column;
    border-radius: 7px;
    border-color: #f1f1f2;
    flex-basis:25%;
}

#casino-details>div:first-child{
    font-size: 20px;
    padding: 14px 0 14px 14px;
    border-bottom:solid 1px #e4dcec;
}
#casino-details-nav{
    margin:14px;
    display:flex;
    flex-direction:column;
}

#casino-details-nav>div{
    border-bottom:solid 1px;
    border-color: #e4dcec;
    display:flex;
    justify-content: space-between;
    padding: 12px 0 12px 0;
  
}

#casino-details-nav i {
    padding-right:15px;
}

#casino-details>div:last-child{
    font-size:14px;
    margin:14px;
    color:white;
    background-color: #00aeef;
    padding:12px 0 12px 0;
    align-self: stretch;
    border-radius: 3px;
    text-align: center;
}


/*sixth section selectors*/
#sixth{
    background-color: #d9e5f4;
    color:#949597;
    display:flex;
    padding: 25px 0 10px 0;
}

#footer-first,#footer-second{
    flex-basis:25%;
}
#footer-third{
    flex-basis:50%;
}
#footer-first{
    padding-left:40px;
}

#footer-first>div:first-child,#footer-second>div:first-child,#footer-third>div:first-child {
    font-weight: bold;
    color:#325e89;
}

#footer-first>div:first-child,#footer-second>div:first-child{
    padding-bottom:15px;
}
#footer-first>div:not(:first-child),#footer-second>div:not(:first-child){
    padding: 3px 0 3px 0;
}
#footer-first>div:last-child{
    padding-top:30px;
}
#footer-third>div:nth-child(2),#footer-third>div:nth-child(4){
    font-size:12px;
}
#footer-third>div:nth-child(3){
    padding-top: 20px;
    color:#325e89;
    font-weight: bold;
}

#footer-second>div:last-child i{
    border-radius:50%;
    background-color: #3a5897;
    padding:6px 5px 5px 5px;
    height:25px;
    width:25px;
    text-align:center;
    color:white;
    margin-right:10px;
}

#footer-second>div:last-child i:last-child{
    background-color: #25a6d1;
}






